package components

templ Button(text string, isPrimary bool, isLarge bool) {
<button class={ "btn" , templ.KV("btn-primary", isPrimary), templ.KV("btn-large", isLarge) }>
    { text }
</button>
}

templ Input(label string, inputType string, name string, placeholder string) {
<div class="form-group">
    <label>{ label }</label>
    <input type={ inputType } name={ name } placeholder={ placeholder } class="form-control" />
</div>
} 