package pages

import (
"goDial/internal/templates/components"
"goDial/internal/templates/layouts"
)

templ SimpleHome(userMinutes int) {
@layouts.Simple("goDial | Stripe") {
<section class="hero">
	<div class="container">
		<h1>Stripe Payments</h1>
		<p>Pay here for minutes. When you minutes hit 0, the AI will hang up a call, and be unable to add more
			until more minutes are added</p>
		<p>Purchase minutes in increments of 10, @ a rate of $0.50 / minute.</p>
		<h4>Current Minutes: { templ.IntString(userMinutes) }</h4>
	</div>
	<form class="card" x-data="{quantity: 0, price: 5, get total() {return this.quantity * this.price}}">
		<label>Select Minutes:</label>
		<button type="button" @click="quantity = Math.max(0, quantity - 10)">-</button>
		<p x-text="quantity"></p>
		<button type="button" @click="quantity+=10">+</button>
		<label>Price:</label>
		<p x-text="'$' + (quantity * 0.5).toFixed(2)"></p>
	</form>
</section>

<div class="container">
	<div class="grid">
		@components.SimpleCard("Quick Message")
		@components.SimpleCard("Send Feedback")
		@components.SimpleCard("Contact Us")
	</div>
</div>
}
}
