package components

templ Navbar() {
<nav class="navbar">
    <div class="container">
        <a href="/" class="brand">goDial</a>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/stripePage">Add Minutes</a>
            <a href="/login" class="btn btn-primary">Login</a>
            <!-- Test comment for Air rebuild -->
        </nav>
    </div>
</nav>
}

templ Footer() {
<footer class="footer">
    <div class="container">
        <nav>
            <a href="/about">About us</a>
            <a href="/contact">Contact</a>
            <a href="/privacy">Privacy Policy</a>
        </nav>
        <p>Copyright © 2024 - All rights reserved by goDial</p>
    </div>
</footer>
}
