package components

templ Card(title string) {
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">{ title }</h2>
            <form class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Your Message</span>
                </label>
                <textarea class="textarea textarea-bordered h-24" placeholder="Type your message here..."></textarea>
                <div class="card-actions justify-end mt-4">
                    <button class="btn btn-primary">Send Message</button>
                </div>
            </form>
        </div>
    </div>
} 